PidFile={{ agent_pidfile }}
LogFile={{ agent_logfile }}
LogFileSize={{ agent_logfilesize }}
{% if agent_debuglevel is defined %}
DebugLevel={{ agent_debuglevel }}
{% endif %}
{% if agent_sourceip is defined and agent_sourceip %}
sourceip={{ agent_sourceip }}
{% endif %}
EnableRemoteCommands={{ agent_enableremotecommands }}
LogRemoteCommands={{ agent_logremotecommands }}
Server={{ agent_server }}
ListenPort={{ agent_listenport }}
ListenIP={{ agent_listenip }}
StartAgents={{ agent_startagents }}
ServerActive={{ agent_serveractive }}
{% if agent_hostname is defined and agent_hostname %}
Hostname={{ agent_hostname }}
{% endif %}
{% if agent_hostnameitem is defined and agent_hostnameitem %}
HostnameItem={{ agent_hostnameitem }}
{% endif %}
{% if agent_hostmetadata is defined and agent_hostmetadata %}
HostMetadata={{ agent_hostmetadata }}
{% endif %}
{% if agent_hostmetadataitem is defined and agent_hostmetadataitem %}
HostMetadataItem={{ agent_hostmetadataitem }}
{% endif %}
RefreshActiveChecks={{ agent_refreshactivechecks }}
BufferSend={{ agent_buffersend }}
BufferSize={{ agent_buffersize }}
MaxLinesPerSecond={{ agent_maxlinespersecond }}
{% if agent_zabbix_alias is defined and agent_zabbix_alias %}
Alias={{ agent_zabbix_alias }}
{% endif %}
Timeout={{ agent_timeout }}
AllowRoot={{ agent_allowroot }}
Include={{ agent_include }}
UnsafeUserParameters={{ agent_unsafeuserparameters }}
{% if zabbix_version | version_compare('2.2', '>=') %}
LoadModulePath={{ agent_loadmodulepath }}
{% endif %}
{% if agent_loadmodule is defined and agent_loadmodule %}
LoadModule={{ agent_loadmodule }}
{% endif %}
{% if zabbix_version | version_compare('3.0', '>=') %}
{% if agent_tlsconnect is defined and agent_tlsconnect %}
TLSConnect={{ agent_tlsconnect }}
{% endif %}
{% if agent_tlsaccept is defined and agent_tlsaccept %}
TLSAccept={{ agent_tlsaccept }}
{% endif %}
{% if agent_tlscafile is defined and agent_tlscafile %}
TLSCAFile={{ agent_tlscafile }}
{% endif %}
{% if agent_tlscrlfile is defined and agent_tlscrlfile %}
TLSCRLFile={{ agent_tlscrlfile }}
{% endif %}
{% if agent_tlsservercertissuer is defined and agent_tlsservercertissuer %}
TLSServerCertIssuer={{ agent_tlsservercertissuer }}
{% endif %}
{% if agent_tlsservercertsubject is defined and agent_tlsservercertsubject %}
TLSServerCertSubject={{ agent_tlsservercertsubject }}
{% endif %}
{% if agent_tlscertfile is defined and agent_tlscertfile %}
TLSCertFile={{ agent_tlscertfile }}
{% endif %}
{% if agent_tlskeyfile is defined and agent_tlskeyfile %}
TLSKeyFile={{ agent_tlskeyfile }}
{% endif %}
{% if agent_tlspskidentity is defined and agent_tlspskidentity %}
TLSPSKIdentity={{ agent_tlspskidentity }}
{% endif %}
{% if agent_tlspskfile is defined and agent_tlspskfile %}
TLSPSKFile={{ agent_tlspskfile }}
{% endif %}
{% endif %}
